In [1]:
import pandas as pd
import numpy as np

In [21]:
# importing the Fossil_Fuel_Data.csv file

df = pd.read_csv('Fossil_Fuel_Data.csv',skiprows=4)

In [22]:
#Setting the index to Country Name column

df.set_index('Country Name')

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,AFE,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.895180,49.304292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,AFW,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.081635,23.471278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,AGO,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.508554,48.305593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,XKX,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.210791,86.121582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",YEM,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.488503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,ZAF,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.575305,86.791432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,ZMB,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.563324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.095759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [24]:
# Dropping the columns
df.drop(columns=['Country Code','Indicator Name','Indicator Code'],inplace=True)

In [25]:
df

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.895180,49.304292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.081635,23.471278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.508554,48.305593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.210791,86.121582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.488503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.575305,86.791432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.563324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.095759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
year_list = []

for n in range(1960,1981):
    year_list.append(str(n))

In [35]:
df.drop(columns=year_list,axis=1,inplace=True)

In [40]:
df.drop(columns=['2015','2016','2017','2018','2019','2020','2021'],inplace=True)

In [42]:
df.head(10)

,Country Name,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,Unnamed: 66
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,51.342579,52.578118,52.263718,52.926142,52.201595,52.190179,52.900929,52.595691,50.544898,...,48.244393,49.551172,50.888562,49.882873,49.035329,48.303862,47.572413,46.895180,49.304292,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,21.991861,23.180888,22.633979,21.192006,21.300721,20.407632,21.055067,20.646041,21.129182,...,21.334752,20.674077,21.408782,19.988774,21.946879,22.610506,23.053942,23.081635,23.471278,NaN
4,Angola,19.159395,16.616550,17.623405,17.065249,20.307574,19.891289,20.384236,22.017965,22.103251,...,31.674674,34.742476,37.960760,41.799331,42.992515,43.849784,48.010060,46.508554,48.305593,NaN
5,Albania,78.037910,77.836534,78.875944,81.097477,81.433762,77.058313,78.637511,80.381404,79.693812,...,64.455990,65.122392,63.847176,63.421726,63.239004,61.502765,57.754082,56.395339,61.421801,NaN
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,91.573704,92.244831,93.263206,93.384990,92.879001,93.415555,93.671833,94.289025,94.408602,...,95.449277,96.125844,96.466731,96.215987,95.891119,94.964387,95.019329,96.227096,95.478343,NaN
8,United Arab Emirates,NaN,NaN,99.999989,99.999992,NaN,100.000000,100.000000,100.000000,100.000000,...,99.929934,99.925175,99.926831,NaN,NaN,91.675585,90.104537,93.614883,86.128349,NaN
9,Argentina,90.017182,90.445184,89.161886,88.458264,87.156400,88.450470,88.161659,90.181006,91.379251,...,88.653228,89.225378,90.651789,89.611993,89.503243,88.853811,89.024907,88.966064,87.722407,NaN

In [44]:
df.to_csv('Fossil_Fuel_Cleaned_Final.csv')